<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="reagodjj.example.com.encryptionalgorithm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DesActivity"
            android:label="@string/des_algorithm_tool" />
        <activity
            android:name="._3DesActivity"
            android:label="@string/_3des_algorithm_tool" />
        <activity
            android:name=".Rc4Activity"
            android:label="@string/rc4_algorithm_tool" />
        <activity
            android:name=".AesActivity"
            android:label="@string/aes_algorithm_tool" />
        <activity
            android:name=".RsaActivity"
            android:label="@string/rsa_algorithm_tool" />
        <activity
            android:name=".Sm2Activity"
            android:label="@string/sm2_algorithm_tool" />
        <activity
            android:name=".Sm2ChangeActivity"
            android:label="@string/sm2_key_change" />
        <activity
            android:name=".Sm3Activity"
            android:label="@string/sm3_algorithm_tool" />
        <activity
            android:name=".Sm4Activity"
            android:label="@string/sm4_algorithm_tool" />
        <activity
            android:name=".Base64Activity"
            android:label="@string/base64_algorithm_tool" />
        <activity android:name=".EncodingBinaryConversionActivity"
            android:label="@string/encoding_binary_conversion"/>
    </application>

</manifest>